doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Site

  body
    header
      h1 Мой сайт
      nav
        a(href="/") Главная

    main
      block content

    footer
      a(href='https://github.com/EgorDanilov95') My GitHub